@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

table{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.452);
}

th, td {
    background-color: rgba(211, 211, 211, 0.76);
}

th{
    padding-top: 25px;
}